cloveretl.bulkloader/bin/
cloveretl.bulkloader/build/
cloveretl.component.hadoop/bin/
cloveretl.component.hadoop/build/
cloveretl.component.hadooploader/bin/
cloveretl.component/bin/
cloveretl.component/build/
cloveretl.connection/bin/
cloveretl.connection/build/
cloveretl.ctlfunction/bin/
cloveretl.ctlfunction/build/
cloveretl.engine/bin/
cloveretl.engine/build-tmp/
cloveretl.engine/dist/
cloveretl.jdbc/bin/
cloveretl.jdbc/build/
cloveretl.lookup/bin/
cloveretl.lookup/build/
cloveretl.sequence/bin/
cloveretl.sequence/build/
cloveretl.tableau/build/
cloveretl.thirdparty/bin/
cloveretl.thirdparty/build/
cloveretl.tlfunction/bin/
cloveretl.tlfunction/build/
