<plugin
   id="org.jetel.thirdparty"
   version="1.9.0"
   provider-name="Javlin Consulting s.r.o.">

	<runtime>
		<library path="../../../cloveretl.thirdparty/bin"/>
   	</runtime> 
	
	<requires engine-version="1.9.0">
		<import plugin-id="org.jetel.sequence"/>
	</requires>
	
	<extension point-id="component">
	    <parameter id="className" value="org.jetel.component.XMLExtract"/>
	    <parameter id="type" value="XML_EXTRACT"/>
	</extension>
	
	<extension point-id="component">
	    <parameter id="className" value="org.jetel.component.Filter"/>
	    <parameter id="type" value="FILTER"/>
	</extension>
	
</plugin>