<plugin
   id="org.jetel.thirdparty"
   version="2.7.0"
   provider-name="Javlin a.s.">

	<runtime>
		<library path="../../../cloveretl.thirdparty/bin/"/>
   	</runtime> 
	
	<requires engine-version="2.7.0">
		<import plugin-id="org.jetel.sequence"/>
	</requires>
	
	<extension point-id="component">
	    <parameter id="className" value="org.jetel.component.XMLExtract"/>
	    <parameter id="type" value="XML_EXTRACT"/>
	</extension>
	
	<extension point-id="component">
	    <parameter id="className" value="org.jetel.component.Filter"/>
	    <parameter id="type" value="FILTER"/>
	</extension>
	
	<extension point-id="component">
	    <parameter id="className" value="com.linagora.component.LdapReader"/>
	    <parameter id="type" value="LDAP_READER"/>
	</extension>

	<extension point-id="component">
	    <parameter id="className" value="com.linagora.component.LdapWriter"/>
	    <parameter id="type" value="LDAP_WRITER"/>
	</extension>
	
	
</plugin>