<plugin
   id="org.jetel.connection"
   version="2.5.2"
   provider-name="Javlin Consulting s.r.o."
   class="org.jetel.connection.Activator">

	<runtime>
		<library path="../../../cloveretl.connection/bin/"/>
   	</runtime> 

	<extension point-id="connection">
		<parameter id="type" value="JDBC"/>
		<parameter id="className" value="org.jetel.connection.jdbc.DBConnection"/>
	</extension>
	<extension point-id="connection">
		<parameter id="type" value="JMS"/>
		<parameter id="className" value="org.jetel.connection.jms.JmsConnection"/>
	</extension>
</plugin>