<plugin
   id="org.jetel.connection"
   version="2.1.0"
   provider-name="Javlin Consulting s.r.o.">

	<runtime>
		<library path="../../../cloveretl.connection/bin"/>
   	</runtime> 

	<extension point-id="connection">
		<parameter id="type" value="JDBC"/>
		<parameter id="className" value="org.jetel.connection.DBConnection"/>
	</extension>
	<extension point-id="connection">
		<parameter id="type" value="JMS"/>
		<parameter id="className" value="org.jetel.connection.JmsConnection"/>
	</extension>
</plugin>