<plugin id="com.opensys.clover.commercial"
   version="2.7.0"
   provider-name="Javlin a.s.">

	<runtime>
		<library path="../../../cloveretl.lookup.commercial/bin/"/>
		<library path="../../../cloveretl.component.commercial/bin/"/>
		<library path="../../../cloveretl.lookup.commercial/lib/jdbm-1.0.jar"/>
        <library path="../../../cloveretl.lookup.commercial/lib/jazzy-core.jar"/>
        <library path="../../../cloveretl.component.commercial/lib/dnsjava-2.0.6.jar"/>
   	</runtime> 
    
	<requires engine-version="2.7.0">
	</requires>

	<extension point-id="lookup">
		<parameter id="type" value="persistentLookup"/>
		<parameter id="className" value="com.opensys.cloveretl.lookup.PersistentLookupTable"/>
	</extension>

    <extension point-id="lookup">
        <parameter id="type" value="aspellLookup"/>
        <parameter id="className" value="com.opensys.cloveretl.lookup.AspellLookupTable"/>
    </extension>

	<extension point-id="component">
		<parameter id="className" value="com.opensys.cloveretl.component.EmailFilter"/>
		<parameter id="type" value="EMAIL_FILTER"/>
	</extension>

	<extension point-id="component">
		<parameter id="className" value="com.opensys.cloveretl.component.FastSort"/>
		<parameter id="type" value="FAST_SORT"/>
	</extension>

</plugin>