<plugin
   id="org.jetel.lookup"
   version="1.9.0"
   provider-name="Javlin Consulting s.r.o.">

	<runtime>
		<library path="../../../cloveretl.lookup/bin"/>
   	</runtime> 
	
	<requires>
		<import plugin-id="org.jetel.connection"/>
	</requires>
	
	<extension point-id="lookup">
		<parameter id="type" value="simpleLookup"/>
		<parameter id="className" value="org.jetel.sequence.SimpleLookupTable"/>
	</extension>
	
	<extension point-id="lookup">
		<parameter id="type" value="dbLookup"/>
		<parameter id="className" value="org.jetel.sequence.DBLookupTable"/>
	</extension>
	
</plugin>