//---------------------------------------------------------------------------------------------------------------------
@Typed
class CustomClass {

  InputPorts input = new InputPorts()
  OutputPorts output = new OutputPorts()       
  
  LibraryFunctions functions = new LibraryFunctions()
  
  Map cache = [:]

//USER_CODE_AREA-----------------------------------------------------------------------------------------------------                
${code}
//USER_CODE_AREA-----------------------------------------------------------------------------------------------------
}
                                   