<plugin id="org.jetel.bulkloader" version="2.4.0">
	<runtime>
		<library path="../../../cloveretl.bulkloader/bin/"/>
	</runtime>
	
	<requires engine-version="2.4.0">
		<import plugin-id="org.jetel.connection"/>
		<import plugin-id="org.jetel.component"/>
	</requires>
	
	<extension point-id="component">
		<parameter id="type" value="ORACLE_DATA_READER"/>
		<parameter id="className" value="org.jetel.component.OracleDataReader"/>
	</extension>

	<extension point-id="component">
		<parameter id="type" value="ORACLE_DATA_WRITER"/>
		<parameter id="className" value="org.jetel.component.OracleDataWriter"/>
	</extension>
	
	<extension point-id="component">
		<parameter id="type" value="MYSQL_DATA_READER"/>
		<parameter id="className" value="org.jetel.component.MysqlDataReader"/>
	</extension>
	
	<extension point-id="component">
		<parameter id="type" value="DB2_DATA_WRITER"/>
		<parameter id="className" value="org.jetel.component.DB2DataWriter"/>
	</extension>
	
	<extension point-id="component">
		<parameter id="type" value="INFORMIX_DATA_WRITER"/>
		<parameter id="className" value="org.jetel.component.InformixDataWriter"/>
	</extension>
	
	<extension point-id="component">
		<parameter id="type" value="MS_SQL_DATA_WRITER"/>
		<parameter id="className" value="org.jetel.component.MsSqlDataWriter"/>
	</extension>
	
	<extension point-id="component">
		<parameter id="type" value="MYSQL_DATA_WRITER"/>
		<parameter id="className" value="org.jetel.component.MysqlDataWriter"/>
	</extension>
	
	<extension point-id="component">
		<parameter id="type" value="POSTGRESQL_DATA_WRITER"/>
		<parameter id="className" value="org.jetel.component.PostgreSqlDataWriter"/>
	</extension>
	
</plugin>
