<plugin id="org.jetel.lookup" version="2.5.2" provider-name="Javlin a.s.">

	<runtime>
		<library path="cloveretl.lookup.jar"/>
		<library path="lib/jdbm-1.0.jar"/>
        <library path="lib/jazzy-core.jar"/>
   	</runtime> 

	<requires engine-version="2.5.2">
		<import plugin-id="org.jetel.connection"/>
	</requires>

	<extension point-id="lookup">
		<parameter id="type" value="simpleLookup"/>
		<parameter id="className" value="org.jetel.lookup.SimpleLookupTable"/>
	</extension>

	<extension point-id="lookup">
		<parameter id="type" value="dbLookup"/>
		<parameter id="className" value="org.jetel.lookup.DBLookupTable"/>
	</extension>

	<extension point-id="lookup">
		<parameter id="type" value="rangeLookup"/>
		<parameter id="className" value="org.jetel.lookup.RangeLookupTable"/>
	</extension>

	<extension point-id="lookup">
		<parameter id="type" value="persistentLookup"/>
		<parameter id="className" value="org.jetel.lookup.PersistentLookupTable"/>
	</extension>

    <extension point-id="lookup">
        <parameter id="type" value="aspellLookup"/>
        <parameter id="className" value="org.jetel.lookup.AspellLookupTable"/>
    </extension>

</plugin>