<plugin
   id="org.jetel.lookup"
   version="2.4.7"
   provider-name="Javlin Consulting s.r.o.">

	<runtime>
		<library path="cloveretl.lookup.jar"/>
		<library path="lib/jdbm-1.0.jar"/>
   	</runtime> 
	
	<requires engine-version="2.4.7">
		<import plugin-id="org.jetel.connection"/>
	</requires>
	
	<extension point-id="lookup">
		<parameter id="type" value="simpleLookup"/>
		<parameter id="className" value="org.jetel.lookup.SimpleLookupTable"/>
	</extension>
	
	<extension point-id="lookup">
		<parameter id="type" value="dbLookup"/>
		<parameter id="className" value="org.jetel.lookup.DBLookupTable"/>
	</extension>
	
	<extension point-id="lookup">
		<parameter id="type" value="rangeLookup"/>
		<parameter id="className" value="org.jetel.lookup.RangeLookupTable"/>
	</extension>
	
	<extension point-id="lookup">
		<parameter id="type" value="persistentLookup"/>
		<parameter id="className" value="org.jetel.lookup.PersistentLookupTable"/>
	</extension>
</plugin>