<plugin
   id="org.jetel.engine"
   version="0.0.0.devel"
   provider-name="Javlin a.s.">

	<extension point-id="dictionaryType">
		<parameter id="type" value="string"/>
		<parameter id="className" value="org.jetel.graph.dictionary.StringDictionaryType"/>
	</extension>
	
	<extension point-id="dictionaryType">
		<parameter id="type" value="object"/>
		<parameter id="className" value="org.jetel.graph.dictionary.ObjectDictionaryType"/>
	</extension>

	<extension point-id="dictionaryType">
		<parameter id="type" value="readable.channel"/>
		<parameter id="className" value="org.jetel.graph.dictionary.ReadableChannelDictionaryType"/>
	</extension>
	
	<extension point-id="dictionaryType">
		<parameter id="type" value="writable.channel"/>
		<parameter id="className" value="org.jetel.graph.dictionary.WritableChannelDictionaryType"/>
	</extension>
	
</plugin>
