<plugin
   id="org.jetel.sequence"
   version="2.7.0"
   provider-name="Javlin a.s.">

	<runtime>
		<library path="../../../cloveretl.sequence/bin/"/>
   	</runtime> 

	<extension point-id="sequence">
		<parameter id="type" value="SIMPLE_SEQUENCE"/>
		<parameter id="className" value="org.jetel.sequence.SimpleSequence"/>
	</extension>
	
	<extension point-id="sequence">
		<parameter id="type" value="PRIMITIVE_SEQUENCE"/>
		<parameter id="className" value="org.jetel.sequence.PrimitiveSequence"/>
	</extension>
	
</plugin>