<plugin
	id="org.jetel.jdbc"
	version="0.0.0.devel"
	provider-name="Javlin a.s.">

	<runtime>
		<library path="bin/"/>
   	</runtime> 

	<requires engine-version="0.0.0.devel">
		<import plugin-id="org.jetel.connection"/>
	</requires>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="GENERIC"/>
		<parameter id="name" value="Generic"/>
		<!--parameter id="majorVersion" value="x"/-->
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.DefaultJdbcSpecific"/>
	</extension>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="DB2"/>
		<parameter id="name" value="DB2"/>
		<!--parameter id="majorVersion" value="x"/-->
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.DB2Specific"/>
	</extension>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="INFORMIX"/>
		<parameter id="name" value="Informix"/>
		<!--parameter id="majorVersion" value="x"/-->
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.InformixSpecific"/>
	</extension>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="MSSQL"/>
		<parameter id="name" value="MS SQL Server 2008"/>
		<!--parameter id="majorVersion" value="x"/-->
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.MSSQLSpecific"/>
	</extension>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="MSSQL2005"/>
		<parameter id="name" value="MS SQL Server 2000-2005"/>
		<!--parameter id="majorVersion" value="x"/-->
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.MSSQLSpecific2005"/>
	</extension>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="MYSQL"/>
		<parameter id="name" value="MySQL"/>
		<!--parameter id="majorVersion" value="x"/-->
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.MySQLSpecific"/>
	</extension>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="ORACLE"/>
		<parameter id="name" value="Oracle"/>
		<!--parameter id="majorVersion" value="x"/-->
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.OracleSpecific"/>
	</extension>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="POSTGRE"/>
		<parameter id="name" value="PostgreSQL"/>
		<!--parameter id="majorVersion" value="x"/-->
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.PostgreSpecific"/>
	</extension>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="SYBASE"/>
		<parameter id="name" value="Sybase"/>
		<!--parameter id="majorVersion" value="x"/-->
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.SybaseSpecific"/>
	</extension>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="SQLITE"/>
		<parameter id="name" value="SQLite"/>
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.SQLiteSpecific"/>
	</extension>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="DERBY"/>
		<parameter id="name" value="Derby"/>
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.DerbySpecific"/>
	</extension>

	<extension point-id="jdbcDriver">
		<parameter id="database" value="MYSQL"/>
		<parameter id="name" value="MySQL"/>
		<parameter id="dbDriver" value="org.gjt.mm.mysql.Driver"/>
		<parameter id="driverLibrary" value="lib/mysql/mysql-connector-java-5.1.7-bin.jar"/>
		<parameter id="urlHint" value="jdbc:mysql://hostname:3306/database"/>
		<parameter id="jdbcSpecific" value="MYSQL"/>
		<parameter id="jdbc.zeroDateTimeBehavior" value="convertToNull"/>
	</extension>
	
	<extension point-id="jdbcDriver">
		<parameter id="database" value="ORACLE"/>
		<parameter id="name" value="Oracle"/>
		<parameter id="dbDriver" value="oracle.jdbc.OracleDriver"/>
		<parameter id="driverLibrary" value="lib/oracle/ojdbc6.jar"/>
		<parameter id="urlHint" value="jdbc:oracle:thin:@hostname:1521:database"/>
		<parameter id="jdbcSpecific" value="ORACLE"/>
	</extension>
	
	<extension point-id="jdbcDriver">
		<parameter id="database" value="POSTGRE"/>
		<parameter id="name" value="PostgreSQL"/>
		<parameter id="dbDriver" value="org.postgresql.Driver"/>
		<parameter id="driverLibrary" value="lib/postgre/postgresql-8.3-603.jdbc3.jar"/>
		<parameter id="urlHint" value="jdbc:postgresql://hostname/database"/>
		<parameter id="jdbcSpecific" value="POSTGRE"/>
	</extension>

	<extension point-id="jdbcDriver">
		<parameter id="database" value="MSSQL"/>
		<parameter id="name" value="Microsoft SQL Server"/>
		<parameter id="dbDriver" value="net.sourceforge.jtds.jdbc.Driver"/>
		<parameter id="driverLibrary" value="lib/jtds/jtds-1.2.4.jar"/>
		<parameter id="urlHint" value="jdbc:jtds:sqlserver://hostname:1433/database"/>
		<parameter id="jdbcSpecific" value="MSSQL"/>
	</extension>

	<extension point-id="jdbcDriver">
		<parameter id="database" value="SYBASE"/>
		<parameter id="name" value="Sybase"/>
		<parameter id="dbDriver" value="net.sourceforge.jtds.jdbc.Driver"/>
		<parameter id="driverLibrary" value="lib/jtds/jtds-1.2.4.jar"/>
		<parameter id="urlHint" value="jdbc:jtds:sybase://hostname:7100/database"/>
		<parameter id="jdbcSpecific" value="SYBASE"/>
	</extension>

	<extension point-id="jdbcDriver">
		<parameter id="database" value="SQLITE"/>
		<parameter id="name" value="SQLite"/>
		<parameter id="dbDriver" value="org.sqlite.JDBC"/>
		<parameter id="driverLibrary" value="lib/sqlite/sqlite-jdbc-3.6.20.1.jar"/>
		<parameter id="urlHint" value="jdbc:sqlite:C:/database"/>
		<parameter id="jdbcSpecific" value="SQLITE"/>
	</extension>

	<extension point-id="jdbcDriver">
		<parameter id="database" value="DERBY"/>
		<parameter id="name" value="Derby"/>
		<parameter id="dbDriver" value="org.apache.derby.jdbc.ClientDriver"/>
		<parameter id="driverLibrary" value="lib/derby/derbyclient.jar"/>
		<parameter id="urlHint" value="jdbc:derby://hostname:1527/derby.db"/>
		<parameter id="jdbcSpecific" value="DERBY"/>
	</extension>

</plugin>