<plugin
	id="org.jetel.jdbc"
	version="2.4.7"
	provider-name="Javlin Consulting s.r.o.">

	<runtime>
		<library path="cloveretl.jdbc.jar"/>
   	</runtime> 

	<requires engine-version="2.4.7">
		<import plugin-id="org.jetel.connection"/>
	</requires>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="DB2"/>
		<parameter id="name" value="DB2"/>
		<!--parameter id="majorVersion" value="x"/-->
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.DB2Specific"/>
	</extension>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="INFORMIX"/>
		<parameter id="name" value="Informix"/>
		<!--parameter id="majorVersion" value="x"/-->
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.InformixSpecific"/>
	</extension>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="MSSQL"/>
		<parameter id="name" value="MS SQL"/>
		<!--parameter id="majorVersion" value="x"/-->
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.MSSQLSpecific"/>
	</extension>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="MYSQL"/>
		<parameter id="name" value="MySQL"/>
		<!--parameter id="majorVersion" value="x"/-->
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.MySQLSpecific"/>
	</extension>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="ORACLE"/>
		<parameter id="name" value="Oracle"/>
		<!--parameter id="majorVersion" value="x"/-->
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.OracleSpecific"/>
	</extension>

	<extension point-id="jdbcSpecific">
		<parameter id="database" value="POSTGRE"/>
		<parameter id="name" value="PostgreSQL"/>
		<!--parameter id="majorVersion" value="x"/-->
		<parameter id="class" value="org.jetel.connection.jdbc.specific.impl.PostgreSpecific"/>
	</extension>

	<extension point-id="jdbcDriver">
		<parameter id="database" value="MYSQL"/>
		<parameter id="name" value="MySQL"/>
		<parameter id="dbDriver" value="org.gjt.mm.mysql.Driver"/>
		<parameter id="driverLibrary" value="lib/mysql/mysql-connector-java-5.1.5-bin.jar"/>
		<parameter id="urlHint" value="jdbc:mysql://hostname:3306/database"/>
		<parameter id="jdbcSpecific" value="MYSQL"/>
	</extension>
	
	<extension point-id="jdbcDriver">
		<parameter id="database" value="POSTGRE"/>
		<parameter id="name" value="PostgreSQL"/>
		<parameter id="dbDriver" value="org.postgresql.Driver"/>
		<parameter id="driverLibrary" value="lib/postgre/postgresql-8.3-603.jdbc3.jar"/>
		<parameter id="urlHint" value="jdbc:postgresql://hostname/database"/>
		<parameter id="jdbcSpecific" value="POSTGRE"/>
	</extension>
	
</plugin>