<plugin
	id="org.jetel.jdbc"
	version="2.4.0"
	provider-name="Javlin Consulting s.r.o.">

	<extension point-id="jdbcDriver">
		<parameter id="database" value="MYSQL"/>
		<parameter id="name" value="MySQL"/>
		<parameter id="dbDriver" value="org.gjt.mm.mysql.Driver"/>
		<parameter id="driverLibrary" value="lib/mysql/mysql-connector-java-5.1.5-bin.jar"/>
		<parameter id="urlHint" value="jdbc:mysql://hostname:3306/database"/>
	</extension>
	<extension point-id="jdbcDriver">
		<parameter id="database" value="POSTGRE"/>
		<parameter id="name" value="POSTGRE"/>
		<parameter id="dbDriver" value="org.postgresql.Driver"/>
		<parameter id="driverLibrary" value="lib/postgre/postgresql-8.3-603.jdbc3.jar"/>
		<parameter id="urlHint" value="jdbc:postgresql://hostname/database"/>
	</extension>
	
</plugin>